/* CSS Document */
body {margin-top: 0; padding-top:0; background: #ccc; font-size: 12px}
#pager {background: #fff; padding:0;}
#pager h1 {color: #fff; background: #333; margin: 0; padding: 5px; line-height: 45px;}
hr {display:none;}
#footer {background: #ccc; color: #000; padding: 10px; font-size: 95%; font-style: italic;}
#left_menu {padding-left: 20px; padding-top: 5px;}
p#hello{padding: 3px; margin: 2px 0; border-bottom: 1px solid #ccc}
#menu_ul {list-style-type: none; margin: 0; padding: 0;}
#menu_ul li {padding: 0;margin:0;}
#menu_ul li a {height: 22px;line-height: 22px;border-bottom: 1px solid #ececec; padding: 3px; display: block; text-decoration:none;}
/*#menu_ul li a:hover{background: #FFF9BF; border-bottom: 1px solid #ccc; }*/
#menu_ul li.select a {background: #FFF9BF; border-bottom: 1px solid #ccc; }
#right_content {padding-top: 10px}
.add_function a {border-top: 1px solid #ccc; border-left: 1px solid #ccc; text-align: center; display: block; line-height: 22px;}
.add_function a:hover {background: #FFF9BF; border-top: 1px solid #999; border-left: 1px solid #999;}
.add_function {width: 100px;}
.hr_line {border-top: 1px solid #ccc}
.input_success, .input_error, .input_notice {width: 290px;}
ul.right_menu {list-style-type: none; margin: 0; padding: 0;}
ul.right_menu li a {display: block; padding: 3px; border-bottom: 1px solid #ececec;height: 25px;line-height: 25px;}
/*ul.right_menu li a:hover{background: #FFF9BF; border-bottom: 1px solid #ccc; }*/
ul.right_menu li.select a {background: #FFF9BF; border-bottom: 1px solid #ccc; }
#right_content td,#right_content th {border-right: 1px solid #ccc; padding:5px;}
.schedule_status {background: #fff url(../img/bg1.jpg) no-repeat 50% 50% ; height: 95px;padding: 10px 0; text-align: center; margin: 0}
.schedule_status_false {background: #fff url(../img/bg2.jpg) no-repeat 50% 50% ; height: 95px;padding: 10px 0; text-align: center; margin: 0}
.schedule_status_end{background: #fff url(../img/bg3.jpg) no-repeat 50% 50% ; height: 80px;padding: 10px 0; text-align: center; margin: 0}
.schedule_status_end_false {background: #fff url(../img/bg4.jpg) no-repeat 50% 50% ; height: 80px;padding: 10px 0; text-align: center; margin: 0}
.status_title {font-size: 25px;}
p#reason {display: none;}
tr.status_7 {background: #ececec}
tr.status_4 {background: #FFCCCC}